POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=jobpulse
POSTGRES_USER=jobpulse_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

LINKEDIN_BROWSER=chromium
LINKEDIN_QUERY_COOLDOWN_HOURS=0
LINKEDIN_SKIP_EXISTING_ENRICHED=true

JOB_INACTIVE_AFTER_DAYS=14
JOB_ARCHIVE_AFTER_DAYS=45
JOB_HARD_DELETE_ENABLED=false

JOB_SEARCH_MIN_RELEVANCE_SCORE=0.38
JOB_SEARCH_KEYWORD_MIN_RELEVANCE_SCORE=0.12
SEARCH_DEMAND_MIN_RESULTS=3
SEARCH_DEMAND_LINKEDIN_LIMIT=20
SEARCH_DEMAND_LINKEDIN_MAX_PAGES=2